/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}


main {
    padding: 50px 0;
    text-align: center;
    margin-left: 100px;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 30px;
}

/* Main container */
.container {
    display: flex;
    align-items: center;
    max-width: 1400px;
    gap: 10px;
    justify-content: center;
    margin-bottom: 30px;

}

.price-list {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    text-align: left;
}


/* Image styling */


.label-box {

    height: auto;

}

/* Text section */
.text-box {
    max-width: 600px;

}

#send-task {
    background-color: #3551f1;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 35px;
    color: white;
    transition: all 0.8s;
}